body {
	margin: 40px 20px;
	padding: 20px;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 900px;
	margin: 20px;
	align: center;
}

